# Python cache / compiled files
__pycache__/
*.pyc
*.pyo

# macOS junk
.DS_Store

# Secrets
.env

# Data
data/*
!data/.gitkeep

# Models
models/*
!models/.gitkeep

# Streamlit
.streamlit/

# IDE
.vscode/
.idea/
